<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<head>
    <script src="https://code.jquery.com/jquery-latest.js"></script> <!-- Dernier Jquery -->
    <link rel="stylesheet" href="../../../model/style/styleAdmin.css">
    <meta charset="UTF-8">
    <title>Piz.zip - Administration</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../model/style/css/bootstrap.css">
    <link rel="stylesheet" href="../../../model/style/style_admin.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../Page_login.php">Administration<img src="../../../model/images/pizzipLogo.png"
                alt="alt" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./IHMadmin.php">Ingrédients</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./IHM_ADMIN.html">Pizza</a>
                </li>
            </ul>
        </div>
    </nav>

    <article id="ajouterPizza">
        <h2>AJOUTER PIZZA</h2>
        Nom Pizza <input type="text" id="ajouterPizzaNom">
        <!--ajouterPizzaNom-->
        <select name='ajouterPizzaIng' id='ajouterPizzaIng'></select>
        Prix <input type="number" id="ajouterPizzaPrix" min="0">
        <button id="bouttonAjouterPizza">Ajouter</button>
        <script type="text/javascript" src="../../../model/scripts/admin/script_Pizza_Ajout.js"></script>
    </article>

    <article id="modifierPizza">
        <h2>Modifier Pizza</h2>
        <select name='selectPizza' id='selectPizza'>Pizza</select>
        <button id='update' name='update'>Modifier</button>
        <br>Ingrédient de base 1 <select name="ingBase" id="ingBase"></select>
        <script type="text/javascript" src="../../../model/scripts/admin/script_Pizza_modif.js"></script>
    </article>

    <article id="supprimerPizza">
        <h2>SUPPRIMER PIZZA</h2>
        <script type="text/javascript" src="../../../model/scripts/admin/script_Pizza_Supp.js"></script>
    </article>
</body>

<footer>

</footer>

</html>