body {
    background-color: rgb(92, 92, 95);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px rgb(38, 38, 39), 0 0 1em rgb(38, 38, 39), 0 0 0.2em rgb(38, 38, 39);
}

p {
    margin: 0;
}

.commande {
    width: 80%;
    float: left;
}
.panier {
    background-color: rgb(52, 52, 55);
    border-left: solid 2px rgb(32, 32, 35);;
    position: absolute;
    top: 0px;
    right: 0px;
    word-wrap: break-word;
    min-height: fit-content;
    height: 100%;
    width: 20%;
    padding: 10px;
}

#lien {
    color: blue;
    font-weight: bold;
}

#basPage {
    margin: auto;
    margin-top: 100px;
    color: white;
    background-color: black;
    text-align: center;
    overflow: hidden;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}

#mailPizzip {
    color: #f1c50e;
    text-decoration: none;
}

.blockPizza {
    display: inline-block;
    width: 15%;
    margin: 0 20px;
    box-shadow: 3px 3px 5px rgb(72, 72, 73);
}

.divPizza {
    padding: 5px;
    text-align: left;
    background-color: rgb(110, 110, 115);
    color: whitesmoke;
    border: solid 2px rgb(72, 72, 73);
    border-bottom: none;
}

.divQuantite {
    padding: 5px;
    background-color: rgb(82, 82, 87);
    color: whitesmoke;
    border: solid 2px rgb(72, 72, 73);
    border-top: none;
}

.infosClient {
    text-align: left;
    width: 70%;
    margin: 10px 0;
}
input[type="text"] {
    text-align: left;
    display: inline-block;
    background-color: whitesmoke;
    border-style: solid;
    color: rgb(82, 82, 87);
    box-shadow: 3px 3px 5px rgb(72, 72, 73);
    padding: 5px;
    margin: 2px 20px;
}


.listePizza {
    text-align: left;
    color: black;
    text-shadow: none;

    /*Ne pas sélectionner le texte dans les divs*/
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}
.modeCommande {
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}
.boitePizza {
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

select,
button {
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */

    padding: 5px 15px;
    background-color: rgb(65, 65, 65);
    color: whitesmoke;
}

button {
    border-radius: 30px;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    box-shadow: 3px 3px 3px rgb(72, 72, 73);
    border-radius: 50px;
    -webkit-appearance: inherit;
    border: 2px solid rgb(72, 72, 73);
    position: relative;
    box-sizing: border-box;
    background-color: whitesmoke;
}
input[type="radio"]:checked:before {
    content: "";
    position: absolute;
    border-radius: 50px;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    background: rgb(82, 82, 87);
}

input[type="button"] {
    margin: 2px;
    padding: 1px 5px;
    border-radius: 30px;
    background-color: rgb(65, 65, 70);
    color: whitesmoke;
}
