<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Piz.zip</title>
    <link href="../model/style/pages_style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="http://localhost/CNAM/Pizzip/model/images/pizzipLogo.png">
</head>

<body>
    <div class="wrapperAccueil">
        <div class="bodyAccueilContainer">
            <header class="headerAccueil">
                <img id="logoAccueil" src="http://localhost/CNAM/Pizzip/model/images/pizzipLogo.png" alt="LogoPizzip">
                <div id="titreSite">
                    <p>PIZ.zip</p>
                </div>
            </header>
            <div id="informationsSite">
                <p>Pizzas préparés avec passion et savoir-faire.</p><br>
                <p>Zippées dans des cartons recyclés, et 100% recyclables !</p>
                <br>
                <a href="./pages/commande.php" class="lien">Voir la carte</a>
            </div>
        </div>
        <div class="separationElementsAccueil"></div>
        <div class="piedPageAccueil">
            <div class="blockImageAccueil">
                <img class="iconAccueil" id="imgLivraison"
                    src="http://localhost/CNAM/Pizzip/model/images/img_Livraison.png" alt="ImageLivraison">
                <p>Livraison à prix réduit</p>
            </div>
            <div class="blockImageAccueil">
                <img class="iconAccueil" id="imgTimer" src="http://localhost/CNAM/Pizzip/model/images/img_Timer.png"
                    alt="ImageTimer">
                <p>Livré en moins de<br>45min</p>
            </div>
            <div class="blockImageAccueil">
                <img class="iconAccueil" id="imgZipper" src="http://localhost/CNAM/Pizzip/model/images/img_Zipper.png"
                    alt="ImageZipper">
                <p>Zippé dans des cartons<br>recyclés</p>
            </div>
        </div>
    </div>
</body>

</html>